/*---
  stain.css
  version 2
  oliver pope
  ---*/

/*numi heather*/
.numi-heather-c {
  color: #AEBEC6;
}

/*numi cerulean*/
.numi-cerulean-c {
  color: #00ACE3;
}

/*numi concrete*/
.numi-concrete-c {
  color: #F2F2F2;
}

/*numi white*/
.numi-white-c {
  color: #FFFFFF;
}

/*numi cod-gray*/
.numi-cod-gray-c {
  color: #0A0A0A;
}

/*numi black*/
.numi-black-c {
  color: #000000;
}

/*numi shark*/
.numi-shark-c {
  color: #35373B;
}

/*clrs navy*/
.clrs-navy-c {
  color: #001f3f;
}

/*clrs blue*/
.clrs-blue-c {
  color: #0074D9;
}

/*clrs aqua*/
.clrs-aqua-c {
  color: #7FDBFF;
}

/*clrs teal*/
.clrs-teal-c {
  color: #39CCCC;
}

/*clrs olive*/
.clrs-olive-c {
  color: #3D9970;
}

/*clrs green*/
.clrs-green-c {
  color: #2ECC40;
}

/*clrs lime*/
.clrs-lime-c {
  color: #01FF70;
}

/*clrs yellow*/
.clrs-yellow-c {
  color: #FFDC00;
}

/*clrs orange*/
.clrs-orange-c {
  color: #FF851B;
}

/*clrs red*/
.clrs-red-c {
  color: #FF4136;
}

/*clrs maroon*/
.clrs-maroon-c {
  color: #85144b;
}

/*clrs fuchsia*/
.clrs-fuchsia-c {
  color: #F012BE;
}

/*clrs purple*/
.clrs-purple-c {
  color: #B10DC9;
}

/*clrs black*/
.clrs-black-c {
  color: #111111;
}

/*clrs gray*/
.clrs-gray-c {
  color: #AAAAAA;
}

/*clrs silver*/
.clrs-silver-c {
  color: #DDDDDD;
}

/*clrs white*/
.clrs-white-c {
  color: #FFFFFF;
}

/*pantone aquamarine*/
.pantone-aquamarine-c {
  color: #95C7DA;
}

/*pantone scuba-blue*/
.pantone-scuba-blue-c {
  color: #00B8CF;
}

/*pantone lucite-green*/
.pantone-lucite-green-c {
  color: #60D6B8;
}

/*pantone classic-blue*/
.pantone-classic-blue-c {
  color: #19498D;
}

/*pantone toasted-almond*/
.pantone-toasted-almond-c {
  color: #D6B097;
}

/*pantone strawberry-ice*/
.pantone-strawberry-ice-c {
  color: #F07B8C;
}

/*pantone tangerine*/
.pantone-tangerine-c {
  color: #FF8745;
}

/*pantone custard*/
.pantone-custard-c {
  color: #EADC86;
}

/*pantone marsala*/
.pantone-marsala-c {
  color: #9E484C;
}

/*pantone glacier-gray*/
.pantone-glacier-gray-c {
  color: #C6CCCD;
}

/*pantone dusk-blue*/
.pantone-dusk-blue-c {
  color: #77A2C1;
}

/*pantone treetop*/
.pantone-treetop-c {
  color: #417537;
}

/*pantone woodbine*/
.pantone-woodbine-c {
  color: #7D853D;
}

/*pantone sandstone*/
.pantone-sandstone-c {
  color: #CF8966;
}

/*pantone titanium*/
.pantone-titanium-c {
  color: #898688;
}

/*pantone lavender-herb*/
.pantone-lavender-herb-c {
  color: #BA88B1;
}

/*numi heather*/
.numi-heather-bg {
  background: #AEBEC6;
}

/*numi cerulean*/
.numi-cerulean-bg {
  background: #00ACE3;
}

/*numi concrete*/
.numi-concrete-bg {
  background: #F2F2F2;
}

/*numi white*/
.numi-white-bg {
  background: #FFFFFF;
}

/*numi cod-gray*/
.numi-cod-gray-bg {
  background: #0A0A0A;
}

/*numi black*/
.numi-black-bg {
  background: #000000;
}

/*numi shark*/
.numi-shark-bg {
  background: #35373B;
}

/*clrs navy*/
.clrs-navy-bg {
  background: #001f3f;
}

/*clrs blue*/
.clrs-blue-bg {
  background: #0074D9;
}

/*clrs aqua*/
.clrs-aqua-bg {
  background: #7FDBFF;
}

/*clrs teal*/
.clrs-teal-bg {
  background: #39CCCC;
}

/*clrs olive*/
.clrs-olive-bg {
  background: #3D9970;
}

/*clrs green*/
.clrs-green-bg {
  background: #2ECC40;
}

/*clrs lime*/
.clrs-lime-bg {
  background: #01FF70;
}

/*clrs yellow*/
.clrs-yellow-bg {
  background: #FFDC00;
}

/*clrs orange*/
.clrs-orange-bg {
  background: #FF851B;
}

/*clrs red*/
.clrs-red-bg {
  background: #FF4136;
}

/*clrs maroon*/
.clrs-maroon-bg {
  background: #85144b;
}

/*clrs fuchsia*/
.clrs-fuchsia-bg {
  background: #F012BE;
}

/*clrs purple*/
.clrs-purple-bg {
  background: #B10DC9;
}

/*clrs black*/
.clrs-black-bg {
  background: #111111;
}

/*clrs gray*/
.clrs-gray-bg {
  background: #AAAAAA;
}

/*clrs silver*/
.clrs-silver-bg {
  background: #DDDDDD;
}

/*clrs white*/
.clrs-white-bg {
  background: #FFFFFF;
}

/*pantone aquamarine*/
.pantone-aquamarine-bg {
  background: #95C7DA;
}

/*pantone scuba-blue*/
.pantone-scuba-blue-bg {
  background: #00B8CF;
}

/*pantone lucite-green*/
.pantone-lucite-green-bg {
  background: #60D6B8;
}

/*pantone classic-blue*/
.pantone-classic-blue-bg {
  background: #19498D;
}

/*pantone toasted-almond*/
.pantone-toasted-almond-bg {
  background: #D6B097;
}

/*pantone strawberry-ice*/
.pantone-strawberry-ice-bg {
  background: #F07B8C;
}

/*pantone tangerine*/
.pantone-tangerine-bg {
  background: #FF8745;
}

/*pantone custard*/
.pantone-custard-bg {
  background: #EADC86;
}

/*pantone marsala*/
.pantone-marsala-bg {
  background: #9E484C;
}

/*pantone glacier-gray*/
.pantone-glacier-gray-bg {
  background: #C6CCCD;
}

/*pantone dusk-blue*/
.pantone-dusk-blue-bg {
  background: #77A2C1;
}

/*pantone treetop*/
.pantone-treetop-bg {
  background: #417537;
}

/*pantone woodbine*/
.pantone-woodbine-bg {
  background: #7D853D;
}

/*pantone sandstone*/
.pantone-sandstone-bg {
  background: #CF8966;
}

/*pantone titanium*/
.pantone-titanium-bg {
  background: #898688;
}

/*pantone lavender-herb*/
.pantone-lavender-herb-bg {
  background: #BA88B1;
}
