/* stain
 * owebboy
 */
 
// colors
json('../colors.json')

// PANTONE Spring 2015 Colors

/* aquamarine */
.aquamarine
	color aquamarine
.bg-aquamarine
	background aquamarine
	
/* scuba-blue */
.scuba-blue
	color scuba-blue
.bg-scuba-blue
	background scuba-blue
	
/* lucite-green */
.lucite-green
	color lucite-green 
.bg-lucite-green
	background lucite-green

/* classic-blue */
.classic-blue
	color classic-blue
.bg-classic-blue
	background classic-blue
	
/* toasted-almond */
.toasted-almond
	color toasted-almond
.bg-toasted-almond
	background toasted-almond
	
/* strawberry-ice */
.strawberry-ice
	color strawberry-ice
.bg-strawberry-ice
	background strawberry-ice
	
/* tangerine */
.tangerine
	color tangerine
.bg-tangerine
	background tangerine
	
/* custard */
.custard
	color custard
.bg-custard
	background custard
	
/* marsala */
.marsala
	color marsala
.bg-marsala
	background marsala
	
/* glacier-gray */
.glacier-gray
	color glacier-gray
.bg-glacier-gray
	background glacier-gray
	
/* dusk-blue */
.dusk-blue
	color dusk-blue
.bg-dusk-blue
	background dusk-blue
	
/* treetop */
.treetop
	color treetop
.bg-treetop
	background treetop
	
/* woodbine */
.woodbine
	color woodbine
.bg-woodbine
	background woodbine
	
/* sandstone */
.sandstone
	color sandstone
.bg-sandstone
	background sandstone
	
/* titanium */
.titanium
	color titanium
.bg-titanium
	background titanium
	
/* lavender-herb */
.lavender-herb
	color lavender-herb
.bg-lavender-herb
	background lavender-herb
