/* stain
 * owebboy
 */
 
// colors
json('../colors.json')

// PANTONE Spring 2015 Colors

/* aquamarine */
.aquamarine
	color aquamarine
.bg-aquamarine
	background aquamarine
.border-aquamarine
	border-color aquamarine
	
/* scuba-blue */
.scuba-blue
	color scuba-blue
.bg-scuba-blue
	background scuba-blue
.border-scuba-blue
	border-color scuba-blue
	
/* lucite-green */
.lucite-green
	color lucite-green 
.bg-lucite-green
	background lucite-green
.border-lucite-green
	border-color lucite-green

/* classic-blue */
.classic-blue
	color classic-blue
.bg-classic-blue
	background classic-blue
.border-classic-blue
	border-color classic-blue
	
/* toasted-almond */
.toasted-almond
	color toasted-almond
.bg-toasted-almond
	background toasted-almond
.border-toasted-almond
	border-color toasted-almond
	
/* strawberry-ice */
.strawberry-ice
	color strawberry-ice
.bg-strawberry-ice
	background strawberry-ice
.border-strawberry-ice
	border-color strawberry-ice
	
/* tangerine */
.tangerine
	color tangerine
.bg-tangerine
	background tangerine
.border-tangerine
	border-color tangerine
	
/* custard */
.custard
	color custard
.bg-custard
	background custard
.border-custard
	border-color custard
	
/* marsala */
.marsala
	color marsala
.bg-marsala
	background marsala
.border-marsala
	border-color marsala
	
/* glacier-gray */
.glacier-gray
	color glacier-gray
.bg-glacier-gray
	background glacier-gray
.border-glacier-gray
	border-color glacier-gray

/* dusk-blue */
.dusk-blue
	color dusk-blue
.bg-dusk-blue
	background dusk-blue
.border-dusk-blue
	border-color dusk-blue
	
/* treetop */
.treetop
	color treetop
.bg-treetop
	background treetop
.border-treetop
	border-color treetop
	
/* woodbine */
.woodbine
	color woodbine
.bg-woodbine
	background woodbine
.border-woodbine
	border-color woodbine
	
/* sandstone */
.sandstone
	color sandstone
.bg-sandstone
	background sandstone
.border-sandstone
	border-color sandstone
	
/* titanium */
.titanium
	color titanium
.bg-titanium
	background titanium
.border-titanium
	border-color titanium
	
/* lavender-herb */
.lavender-herb
	color lavender-herb
.bg-lavender-herb
	background lavender-herb
.border-lavender-herb
	border-color lavender-herb